.space-x-reverse {
    :where(& > :not(:last-child)) {
        --tw-space-x-reverse: 0;
    }
}
.heaartWish{
    top: 8px;
}
.heart{
    color: #1a2a44 !important;
}
.logo{
    color: #1a2a44 !important;
}
.hover\:bg-gray-100 {
    &:hover {
        @media (hover: hover) {
            background-color: transparent;
        }
    }
}
.text-gray-800 {
    color: var(--color-gray-800) !important;
}